

.absolute{
    position: sticky;
    right: 7%;
    top: 2.3%;
}

.fr{
    float: right !important;
}

.img{
    background-color: rgb(255, 255, 255);
    border: 7px solid #7e8de6;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    height: 200px;
    width:200px;
    left: 3%;
}

.bg-gray{
    background-color: rgba(128, 128, 128, 0.356);
}

.bg-darkgray{
    background-color: rgba(128, 128, 128);
}

/* not active */
.nav-item .active{
    background-color: rgb(166, 167, 166) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tab-content .active{
    background-color: rgb(166, 167, 166) !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.nav-link:not(.active){
    color: rgb(43, 42, 42);
}


.head{
    color: rgb(231, 253, 238);
    text-decoration: none;
}

.fab, .far, .fas{
    color: #fff;


    -webkit-animation-name: zoomLogo;
    -webkit-animation-duration: 1s;
    animation-name: zoomLogo;
    animation-duration: 1s;

    -ms-transform: scale(0.6); /* IE 9 */
    -webkit-transform: scale(0.6); /* Chrome, Safari, Opera */
    transform: scale(0.6);

    /* font-size: 1.5em; */
}

@-webkit-keyframes zoomLogo {
    from {-webkit-transform: scale(0.01)} 
    to {-webkit-transform: scale(0.6)}
}

@keyframes zoomLogo {
    from {transform: scale(0.01)} 
    to {transform: scale(0.6)}
}

.fab:hover, .far:hover, .fas:hover{

    -webkit-animation-name: zoomLogoHover;
    -webkit-animation-duration: .5s;
    animation-name: zoomLogoHover;
    animation-duration: .5s;

    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
    transform: scale(1.3);

}

@-webkit-keyframes zoomLogoHover {
    from {-webkit-transform: scale(0.6)} 
    to {-webkit-transform: scale(1.3)}
}

@keyframes zoomLogoHover {
    from {transform: scale(0.6)} 
    to {transform: scale(1.3)}
}

.modal-header{
    border-radius: 6px;
    padding-bottom: 2%;
}